* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue__00: rgb(0, 179, 255);
  --blue__01: rgb(12, 137, 191);
}

button {
  height: 36px;
  border: none;  
  color: white;
  font-size: 16px;
  border-radius: 6px;
  transition: .2s;
  cursor: pointer;
}

button:hover {
  transition: .2s;
}